<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <a href="#" class="bg-gray-100 h-64 flex items-center justify-center">
    <img src="https://picsum.photos/200/400" alt="" class="object-cover w-full h-full">
  </a>
  <a href="#" class="bg-gray-100 h-48 flex items-center justify-center">
    <img src="https://picsum.photos/400/200" alt="" class="object-cover w-full h-full">
  </a>
  <a href="#" class="bg-gray-100 h-32 flex items-center justify-center">
    <img src="https://picsum.photos/200/200" alt="" class="object-cover w-full h-full">
  </a>
  <a href="#" class="bg-gray-100 h-32 flex items-center justify-center">
    <img src="https://picsum.photos/200/200" alt="" class="object-cover w-full h-full">
  </a>
  <a href="#" class="bg-gray-100 h-64 flex items-center justify-center">
    <img src="https://picsum.photos/400/400" alt="" class="object-cover w-full h-full">
  </a>
  <a href="#" class="bg-gray-100 h-32 flex items-center justify-center">
    <img src="https://picsum.photos/200/200" alt="" class="object-cover w-full h-full">
  </a>
  <a href="#" class="bg-gray-100 h-48 flex items-center justify-center">
    <img src="https://picsum.photos/400/200" alt="" class="object-cover w-full h-full">
  </a>
</div>
