<div class="top-wrapper">
  <div class="column left">
    <%= link_to '#' do%>
      <%= image_tag "top_left.jpg" %>
      <h2>建築を記録する✍️</h2>
    <% end %>
  </div>
  <div class="column right">
    <%= link_to '#' do%>
      <%= image_tag "top_right.jpg" %>
      <h2>建築を探す🔎</h2>
    <% end %>
  </div>
</div>