<div class="absolute top-0 left-0 h-full ml-2 flex items-center justify-center">
  <i class="fa-solid fa-chevron-left text-white text-4xl opacity-50 cursor-pointer"></i>
</div>
<div class="absolute top-0 right-0 h-full mr-2 flex items-center justify-center">
  <i class="fa-solid fa-chevron-right text-white text-4xl opacity-50 cursor-pointer"></i>
</div>