<ul>
  <li>
    <%= link_to '#' do %>
      <%= icon 'fa', 'pen', style: 'color: #ee5858' %>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
      <%= icon 'fas', 'trash', style: 'color: #ee5858' %>
    <% end %>
  </li>
</ul>