<ul class="flex">
  <li>
    <%= link_to architecture_path(architecture), method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
      <i class="fa-regular fa-trash-can text-third"></i>
    <% end %>
  </li>
  <li>
    <%= link_to edit_architecture_path(architecture) do %>
      <i class="fa-regular fa-pen-to-square ml-2 text-third"></i>
    <% end %>
  </li>
</ul>