<% content_for(:title, t('.title')) %>
<div>
  <!-- 検索フォーム -->
  <form>
    <div>
      <input placeholder="検索ワード" type="search" />
      <div>
        <input type="submit" value="検索">
      </div>
    </div>
  </form>
 
   <!-- 建築一覧 -->
  <div>
    <% if @architecture.present? %>
      <%= render @architecture %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>