<% content_for(:title, t('.title')) %>
<h2><%= t('.title', architecture_name: @architecture.name) %></h2>
<div>
  <!-- 検索フォーム -->
  <%= render 'search_form', url: architecture_index_path %> 
   <!-- 建築一覧 -->
  <div>
    <% if @architecture.present? %>
      <%= render @architecture %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>