<% content_for(:title, @like_architecture.name) %>
<h2><%= t('.title', architecture_name: @like_architecture.name) %></h2>
<div>
  <div>
    <div>
      <!-- 検索フォーム -->
      <%= render 'search_form', url: likes_architecture_index_path %>
    </div>
  </div>

  <!-- 建築一覧 -->
  <div>
    <% if @like_architecture.present? %>
      <%= render @like_architecture %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>